<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container">
    <div class="d-flex align-items-center">
      <img src="assets/image/logo.png" alt="Hospital Logo" width="40" height="40" class="me-2" />
      <div class="d-flex flex-column">
        <h4 class="mb-0 text-muted fw-bold">CHG \ El-Kateb Hospital</h4>
        <small class="text-muted" *ngIf="headerPath()">
          {{ headerPath() }}
        </small>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
