@font-face {
  font-family: 'DigitalSansEF';
  src: url('assets/font/Digital_Sans_EF_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'DigitalSansEF', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

@font-face {
  font-family: 'DigitalSansEF';
  src: url('assets/font/Digital_Sans_EF_Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DigitalSansEF';
  src: url('assets/font/Digital_Sans_EF_Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bs-font-sans-serif: 'DigitalSansEF', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
